*{
    margin: 0;
    padding: 0;
}

.btn:disabled {
opacity: 0.5;
}

h4 {
font-family: cursive;
}

.cart_item_name {
font-weight: 700;
}

.overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(192, 192, 192, 0.1);
font-family: cursive;
font-size: xx-large;
cursor: wait;
letter-spacing: 0.05em;
text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.paypal {
display: none;
}